@page
@model Portal.Pages.Admin.Volunteer.IndexModel
@{
    ViewData["Title"] = "Volunteer";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            Volunteer Events

        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-page="Create">Create</a>

        </div>

    </div>

    @if (Model.VolunteerEvents.Count == 0)
    {
        <div class="row">
            <p>There are currently no volunteer events.</p>

        </div>



    }
    else
    {
        @foreach (var item in Model.VolunteerEvents)
        {
            <div class="row">
                <div class="col-6">
                    <p>@item.Name</p>
                    <p>@item.Description</p>
                    <hr />

                </div>
                <div class="col-6 text-right">
                    <a asp-route-Id="@item.Id" class="btn btn-success" asp-page="SignedUp">SignedUp</a>
                    <a asp-route-Id="@item.Id" class="btn btn-primary" asp-page="Edit">Edit</a>
                    <a asp-route-Id="@item.Id" class="btn btn-danger" asp-page="Delete">Delete</a>

                </div>

            </div>

        }

    }






</div>

