@page
@model Portal.Pages.Admin.Meeting.IndexModel
@{
    ViewData["Title"] = "Admin - Meetings";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Meetings</h2>

        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-primary">Create</a>

        </div>

    </div>

    @if (Model.Meeting.Count == 0)
    {
        <p>There are currently no meetings listed</p>
    }
    else
    {
        @foreach (var item in Model.Meeting)
        {
            <div class="row">
                <div class="col-6">
                    <p>
                        @item.Name<br />
                        @item.DayOfWeek<br />
                        @item.StartTime.ToString("hh:mm tt") - @item.EndTime.ToString("hh:mm tt")
                    </p>

                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary" asp-page="Edit" asp-route-Id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="Delete" asp-route-Id="@item.Id">Delete</a>

                </div>

            </div>

        }


    }

</div>